.converter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    height: 15rem;
    width: 40rem;
    background: rgba(249, 228, 228, 0.25);
    color: #dbd8e3;
    margin: auto;
    margin-top: 1rem;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

.converter input,
.converter select {
    width: 80%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

input, select {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus, select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.input-one {
    background-color: #f9f9f9;
    margin-left: 1rem;
    border-radius: 15px;
}

.input-second {
    background-color: #f0f0f0;
    margin-left: 1rem;
    border-radius: 15px;
}

.select-one {
    background-color: #f9f9f9;
    cursor: pointer;
}

.select-second {
    background-color: #f0f0f0;
    cursor: pointer;
    margin-right: 1rem;
}

input:hover, select:hover {
    border-color: #0056b3;
}

.input-one:hover, .select-one:hover {
    background-color: #e9e9e9;
}

.input-second:hover, .select-second:hover {
    background-color: #e0e0e0;
}

.input-one, .input-second, .select-one, .select-second {
    margin-bottom: 16px;
}

@media (max-width: 768px) {
    input, select {
        max-width: 100%;
        font-size: 14px;
        padding: 6px;
    }
}

button {
    margin-left: 45%;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    margin-top: 10px;
    cursor: pointer;
    transition: all 200ms;
}

button:hover {
    background-color: #322546;
    color: #f1f1f1;
}
